body {
  background-color: #fff;
  border-top: 3px solid #883400;
  font: 78%/1.2em verdana,helvetica,geneva,sans-serif;
  margin: 0;
}

header {
  -moz-box-shadow: 0 2px 15px 0 #ccc;
  -webkit-box-shadow: 0 2px 15px 0 #ccc;
  box-shadow: 0 2px 15px 0 #ccc;
}

header div {
  height: 37px;
  width: 960px;
  margin: 0 auto;
  padding: 1.5em 0;
}

header h1 {
  background: url("/img/ratatosk.png") no-repeat scroll left top transparent;
  float: left;
  height: 37px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 360px;
}

div#main-content {
  width: 960px;
  margin: 1em auto 0 auto;
  overflow: hidden;
}

footer {
  padding-top: 4em;
}

div#footer-content {
  width: 960px;
  margin: 0 auto;
}

@media all and (max-width: 480px) {
  header div {
    width: auto;
    margin: 0 1.2em;
  }

  div#main-content {
    width: auto;
    margin: 0 1.2em;
  }

  div#footer-content {
    width: auto;
    margin: 0 1.2em;
  }
}
