---
layout: default
title: Tom Preston-Werner
---

<div id="home">
<!--
  <h2>Blog</h2>
  <ul class="posts">
    {% for post in site.categories.blog limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
-->
  <h2>Lær Drupal</h2>
  <ul class="posts">
    <!-- TODO: if page.url contains 'learn/drupal' -->
    {% for post in site.categories.learn reversed %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Tutorials</h2>
  <ul class="posts">
    {% for post in site.categories.tutorials %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> &ndash; {{ post.teaser }}</li>
    {% endfor %}
  </ul>

</div>
