<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ratatosk</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/styles.css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="wrapper">
    <header>
      <a href="/"><h1>Ratatosk</h1></a>
    </header>
    <section>
      {{ content }}

      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-6320527504264128";
        google_ad_slot = "7312053473";
        google_ad_width = 468;
        google_ad_height = 60;
      //-->
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </section>
    <footer>
      <p>
        Morten Wulff<br>
        +45 2147 8227<br>
        <a href="mailto:wulff@ratatosk.net">wulff@ratatosk.net</a>
      </p>
      <p class="da">
        <a href="http://association.drupal.org/"><img width="120" height="120" border="0" alt="Drupal Association - Individual Member" src="/img/DA-individual-120.png"></a>
      </p>
      <p class="lym">
        <a href="http://www.lastyearsmodel.org/"><img width="160" height="90" border="0" alt="I'm sticking with last year's model" src="/img/lastyears-badge.jpg"></a>
      </p>
    </footer>
  </div>

  <script>
    var _gaq=[['_setAccount','UA-30567106-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>