<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ratatosk</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/styles.css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="wrapper">
    <header>
      <img src="/img/ratatosk.png" width="360" height="37" />
      <a href="/"><h1>Ratatosk</h1></a>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
      <p>
        In Norse mythology, Ratatosk ("Sharptooth") is a squirrel who runs up and down the world tree Yggdrasil to carry messages between the unnamed eagle, perched atop Yggdrasil, and the wyrm Nidhogg, who dwells beneath one of the three roots of the tree. <a href="http://en.wikipedia.org/wiki/Ratatosk">Wikipedia</a>
      </p>
      <p>
        Morten Wulff<br />
        +45 2147 8227<br />
        <a href="mailto:wulff@ratatosk.net">wulff@ratatosk.net</a>
      </p>
      <ul>
        <li><a href="http://www.flickr.com/photos/nidhug/">Flickr</a></li>
        <li><a href="http://dk.linkedin.com/in/ratatosk">LinkedIn</a></li>
        <li><a href="https://twitter.com/nidhug">Twitter</a></li>
      </ul>
      <div class="badges">
        <div class="da">
          <a href="http://association.drupal.org/" class="noborder"><img width="120" height="120" border="0" alt="Drupal Association - Individual Member" src="/img/DA-individual-120.png"></a>
        </div>
        <div class="lym">
          <a href="http://www.lastyearsmodel.org/" class="noborder"><img width="160" height="90" border="0" alt="I'm sticking with last year's model" src="/img/lastyears-badge.jpg"></a>
        </div>
      </div>
    </footer>
  </div>

  <script>
    var _gaq=[['_setAccount','UA-30611204-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>